@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

body {
  font-size: 15pt;
  font-family: 'Inter', sans-serif;
  background: url(https://unsplash.com/photos/ZHGh3WaaTf4/download?ixid=M3wxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjkyNzM0NDg0fA&force=true);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center; 
}

* {
  margin: 0;
  padding: 0;
}

#inputbox {
  width: 80%;
  padding: 8px;
  backdrop-filter: blur(5px);
  background: #0000009C;
  color: gray;
  border: 1px solid #444444;
  margin: 8px;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  transition: ease-in-out .1s;
}

input {
  font-family: 'Inter', sans-serif;
  width: 80%;
  background: transparent;
  outline: none;
  border: none;
  color: gray;
  margin: auto;
  padding: auto;
  transition: ease-in-out .1s;
}

input:focus,
input:hover {
  color: white;
}

ion-icon {
  margin: auto;
  padding: auto;
  font-size: 16px;
  transition: ease-in-out .1s;
}

#inputbox:hover {
  border: 1.5px solid #ffffff;
  color: white;
}

button {
  width: 86%;
  padding: 8px;
  backdrop-filter: blur(5px);
  background: #0000009C;
  color: gray;
  border: 1px solid #444444;
  margin: 8px;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  transition: ease-in-out .1s;
}

button:hover,
button:focus {
  border: 1.5px solid #ffffff;
  color: white;
}

.content {
  background: #00000054;
  backdrop-filter: blur(1px);
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
